<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="frodez.dao.mapper.user.RolePermissionMapper">

	<select id="getPermissions" resultType="frodez.dao.result.user.PermissionInfo">
		SELECT 
			tb_permission.id AS id, 
			tb_permission.type AS type,
			tb_permission.`name` AS `name`, 
			tb_permission.url AS url,
			tb_permission.description AS description
		FROM
			tb_permission 
			INNER JOIN tb_role_permission ON tb_role_permission.permission_id = tb_permission.id 
			AND tb_role_permission.role_id = #{roleId}
	</select>

	<select id="batchGetPermissions" resultType="frodez.dao.result.user.PermissionInfo">
		SELECT
			tb_permission.id AS id,
			tb_permission.type AS type,
			tb_permission.`name` AS `name`,
			tb_permission.url AS url,
			tb_permission.description AS description
		FROM
			tb_permission
			INNER JOIN tb_role_permission ON tb_permission.id = tb_role_permission.permission_id
			INNER JOIN tb_role ON tb_role_permission.role_id = tb_role.id
		WHERE
			tb_role.id IN 
		<foreach collection="roleIds" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="getPagePermissions" resultType="frodez.dao.result.user.PagePermissionInfo">
		SELECT 
			tb_page_permission.id AS id,
			tb_page_permission.`name` AS `name`,
			tb_page_permission.description AS description
		FROM
			tb_page_permission 
			INNER JOIN tb_role_page_permission ON tb_role_page_permission.page_permission_id = tb_page_permission.id 
			AND tb_role_page_permission.role_id = #{roleId}
	</select>

	<select id="batchGetPagePermissions" resultType="frodez.dao.result.user.PagePermissionInfo">
		SELECT
			tb_page_permission.id AS id,
			tb_page_permission.`name` AS `name`,
			tb_page_permission.description AS description
		FROM
			tb_page_permission
			INNER JOIN tb_role_page_permission ON tb_page_permission.id = tb_role_page_permission.page_permission_id
			INNER JOIN tb_role ON tb_role_page_permission.role_id = tb_role.id
		WHERE
			tb_role.id IN 
		<foreach collection="roleIds" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

</mapper>